name: GitHub CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  dokkaJarTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Gradle dokkaJar
        uses: gradle/gradle-build-action@v2
        with:
          arguments: dokkaJar

  sourcesJarTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Gradle sourcesJar
        uses: gradle/gradle-build-action@v2
        with:
          arguments: sourcesJar

  publishTest:
    needs: [ dokkaJarTest, sourcesJarTest ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Gradle publishTest
        uses: gradle/gradle-build-action@v2
        with:
          arguments: publishTest

  patApiTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Gradle test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: :pat-api:test

  build:
    needs: [ patApiTest, publishTest ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Gradle build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build

  createBranch:
    needs: [ patApiTest, dokkaJarTest ]
    runs-on: ubuntu-latest
    outputs:
      COMMIT_HASH: ${{ steps.format_hash.outputs.COMMIT_HASH }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check Commit Name for Prevent Infinite Pull Requests
        uses: actions-ecosystem/action-regex-match@v2
        id: check-commit
        with:
          text: ${{ github.event.head_commit.message }}
          regex: "^Merge pull request #[0-9]+ from [0-9a-z]+\/[0-9a-z]+\\]dokkaJar\n\n`\\[[0-9a-z]+\\] Merge remote-tracking branch \'origin\/main\' into main` dokkaJar 업데이트$"
          flags: 'gu'
      - name: End Job If Is dokkaJar Commit
        if: ${{ steps.check-commit.outputs.match != '' }}
        run: exit 1
      - name: Formatting GitHub Commit Hash
        id: format_hash
        run: |
          HASH=$(cut -c 1-7 <<< "${{ github.sha }}")
          printf "::set-output name=COMMIT_HASH::${HASH}"
      - name: Create Branch
        uses: peterjgrainger/action-create-branch@v2.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: '${{ github.sha }}]dokkaJar'

  pullRequest:
    needs: [ createBranch, publishTest ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: '${{ github.sha }}]dokkaJar'
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Gradle dokkaJar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: gradle/gradle-build-action@v2
        with:
          arguments: dokkaJar
      - name: Generate dokkaJar Info
        uses: DamianReeves/write-file-action@v1.0
        with:
          path: docs/doc-info.html
          write-mode: overwrite
          contents: |
            <link rel="preconnect\" href="https://fonts.googleapis.com">
            <link rel="preconnect\" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
            <div style="font-family: 'Noto Sans KR', sans-serif; font-weight: 400;">
            Latest dokkaJar Update<br>
            <strong style="font-weight: 700;">Commit [<a href="https://github.com/copecone/pat/commit/${{ github.sha }}">${{ needs.createBranch.outputs.COMMIT_HASH }}</a>]</strong>
            ${{ github.event.head_commit.message }}
            </div>
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          add-paths: |
            docs/**
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "[${{ needs.createBranch.outputs.COMMIT_HASH }}] dokkaJar 업데이트"
          base: main
          branch: '${{ github.sha }}]dokkaJar'
          delete-branch: true
          title: "`[${{ needs.createBranch.outputs.COMMIT_HASH }}] ${{ github.event.head_commit.message }}` dokkaJar 업데이트"
          body: |
            dokkaJar 업데이트
            - 이 자동 생성된 Pull Request는 현재 커밋의 dokkaJar 실행 결과물입니다
          labels:
            Auto dokkaJar
          assignees: copecone
          reviewers: copecone