# This is a basic workflow to help you get started with Actions

name: Github Packages Publish

# Controls when the workflow will run
on:
  release:
    types: [ created ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Gradle test
        run: gradle test
  publish:
    needs: test
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      packages: write
    steps:
      #- uses: actions/setup-java@v2
      #  with:
      #    java-version: '17'
      #    distribution: 'adopt'
      - name: Publish package
        run: gradle publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
