# This is a basic workflow to help you get started with Actions

name: Github Packages Unpublish

# Controls when the workflow will run
on:
  release:
    types: [ deleted ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Get release details
        run: |
          echo "TAG NAME: ${GITHUB_REF##*/}"
